{% extends "base.html" %}
{% block title %}Introduction{% endblock %}
{% block content %}
<h2>Sub-modul untuk Introduction</h2>
<h3>1. Introduction</h3>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://docs.google.com/presentation/d/1BLPnGS4qSg38onvfosGlW3WAZByV5qjikGlQ6rDOo0M/embed?start=false&loop=false&delayms=3000"></iframe>
</div>
<br>
<br>
<hr>

<h3>TEST RIASEC PEMETAAN MINAT, BAKAT, dan ASPIRASI - INTELLIGO ID</h3>
<h5><a href="https://forms.gle/ivYfAgY9FWzRDxyw8" target="_blank">https://forms.gle/ivYfAgY9FWzRDxyw8</a></h5>
<br>
<br>
<hr>

<h3>2. Introduction to Data, Introduction to Data Science, Tips & Trik Berkarir, Implementasi Data Science</h3>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://docs.google.com/presentation/d/1dDZOsS-IHwmZRwDoRAtSzQMPMsNOHKgtKzd5QOax5zI/embed?start=false&loop=false&delayms=3000"></iframe>
</div>
<br>
<h4>Post Test Introduction to Data & Data Science</h4>
<p><a href="https://docs.google.com/presentation/d/1zHg7hVxjy19oaJbuVgnJBgr29sL6K01vXvPoujkEsaM/edit?usp=sharing" target="_blank">Lihat Tugas</a></p>
<br>
<br>
<hr>
{% endblock %}
